# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly
# Prisma
# User xp61p3pzkvv5k5cpcgf9
Q1mZ@us-west.connect.psdb.cloud/typesafe-cult-mod-db?sslaccept=strict
DATABASE_URL=

# Next Auth
# You can generate the secret via 'openssl rand -base64 32' on Linux
# More info: https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Next Auth Discord Provider
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

